<div *ngIf="user">
<mat-card class="main-card">
  <mat-card-header>
    <mat-icon matCardAvatar>account_circle</mat-icon>
    <mat-card-title>{{user.username}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Films à voir">
        <div *ngFor="let movie of playlist">
          <mat-card class="movie-card">
            <mat-card-header>
              <mat-card-title routerLink="/film/{{movie.id}}">{{movie.title}}</mat-card-title>
              <mat-card-subtitle>
                <span *ngFor="let genre of movie.genres; last as isLast">
                  {{genre.name}} <span *ngIf="!isLast">/</span>
                </span>
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{pictureUrl + movie.poster_path}}" alt="Picture of movies">
            <mat-card-content>
              <p>
                {{movie.overview}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Films vues">
        <div *ngFor="let movie of moviesViews">
          <mat-card class="movie-card">
            <mat-card-header>
              <mat-card-title routerLink="/film/{{movie.id}}">{{movie.title}}</mat-card-title>
              <mat-card-subtitle>
                <span *ngFor="let genre of movie.genres; last as isLast">
                  {{genre.name}} <span *ngIf="!isLast">/</span>
                </span>
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{pictureUrl + movie.poster_path}}" alt="Picture of movies">
            <mat-card-content>
              <p>
                {{movie.overview}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>
