<mat-card class="example-card">
  <mat-card-header>
    <mat-icon matCardAvatar>grade</mat-icon>
    <mat-card-title>Dernières notes</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div *ngFor="let note of notes" routerLink="/film/{{note.movie.id}}">
      <img src="{{pictureUrl + note.movie.poster_path}}" alt="Picture of movie">
      <p>
        {{note.movie.title}} <br> Note : {{note.note}} / 5
      </p>

      <hr class="clear">
    </div>

  </mat-card-content>
</mat-card>
